<%= form_for(transaction_function) do |f| %>
  <% if transaction_function.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction_function.errors.count, "error") %> prohibited this transaction_function from being saved:</h2>

      <ul>
      <% transaction_function.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :requirement_name %>
    <%= f.text_field :requirement_name %>
  </div>

  <div class="field">
    <%= f.label :function %>
    <%= f.text_field :function %>
  </div>

  <div class="field">
    <%= f.label :kind %>
    <%= f.text_field :kind %>
  </div>

  <div class="field">
    <%= f.label :qt_alr %>
    <%= f.number_field :qt_alr %>
  </div>

  <div class="field">
    <%= f.label :desc_alr %>
    <%= f.text_area :desc_alr %>
  </div>

  <div class="field">
    <%= f.label :qt_der %>
    <%= f.number_field :qt_der %>
  </div>

  <div class="field">
    <%= f.label :desc_der %>
    <%= f.text_area :desc_der %>
  </div>

  <div class="field">
    <%= f.label :obs %>
    <%= f.text_area :obs %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
