<h1>Editing Transaction Function</h1>

<%= render 'form', transaction_function: @transaction_function %>

<%= link_to 'Show', @transaction_function %> |
<%= link_to 'Back', transaction_functions_path %>
