<p id="notice"><%= notice %></p>

<h1>Transaction Functions</h1>

<table>
  <thead>
    <tr>
      <th>Requirement name</th>
      <th>Function</th>
      <th>Kind</th>
      <th>Qt alr</th>
      <th>Desc alr</th>
      <th>Qt der</th>
      <th>Desc der</th>
      <th>Obs</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transaction_functions.each do |transaction_function| %>
      <tr>
        <td><%= transaction_function.requirement_name %></td>
        <td><%= transaction_function.function %></td>
        <td><%= transaction_function.kind %></td>
        <td><%= transaction_function.qt_alr %></td>
        <td><%= transaction_function.desc_alr %></td>
        <td><%= transaction_function.qt_der %></td>
        <td><%= transaction_function.desc_der %></td>
        <td><%= transaction_function.obs %></td>
        <td><%= link_to 'Show', transaction_function %></td>
        <td><%= link_to 'Edit', edit_transaction_function_path(transaction_function) %></td>
        <td><%= link_to 'Destroy', transaction_function, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transaction Function', new_transaction_function_path %>
