<p id="notice"><%= notice %></p>

<p>
  <strong>Requirement name:</strong>
  <%= @transaction_function.requirement_name %>
</p>

<p>
  <strong>Function:</strong>
  <%= @transaction_function.function %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @transaction_function.kind %>
</p>

<p>
  <strong>Qt alr:</strong>
  <%= @transaction_function.qt_alr %>
</p>

<p>
  <strong>Desc alr:</strong>
  <%= @transaction_function.desc_alr %>
</p>

<p>
  <strong>Qt der:</strong>
  <%= @transaction_function.qt_der %>
</p>

<p>
  <strong>Desc der:</strong>
  <%= @transaction_function.desc_der %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @transaction_function.obs %>
</p>

<%= link_to 'Edit', edit_transaction_function_path(@transaction_function) %> |
<%= link_to 'Back', transaction_functions_path %>
