<h1 class="page-header">Projetos</h1>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="table-resposive">
      <table class ="table table-hover">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Desenvolvedor</th>
            <th>Inicio</th>
            <th>Custo</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @projects.each do |project| %>
          <tr>
            <td><%= project.name %></td>
            <td><%= project.developer %></td>
            <td><%= project.start_date %></td>
            <td>R$ <%= project.cost %></td>
            <td><%= link_to 'Detalhes', project %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>
<br>
