<h1 class="page-header"><%=@project.name%><%= image_tag @project.image.thumb.url, class: "pull-right" %></h1>

<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Informações do projeto
      </div>
      <div class="panel-body">
              <p>
          <strong>Data de Início:</strong>
          <%= @project.start_date %>
        </p>

        <p>
          <strong>Data de Término:</strong>
          <%= @project.finish_date %>
        </p>

        <p>
          <strong>Custo total: R$ </strong>
          <%= @project.cost %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Evolução das contagens
      </div>
      <div class="panel-body">
        <%= graph_generator %>
      </div>
    </div>
  </div>
</div>
  <div class="panel panel-default">
    <div class="panel-heading">
      Histórico de Contagens
    </div>
    <div class="panel-body">
      <div class="table-resposive">
        <table class ="table table-hover">
          <thead>
            <tr>
              <th>Número</th>
              <th>Resultado</th>
              <th>Tipo</th>
            </tr>
          </thead>

          <tbody>
            <% @counts.each do |count| %>
            <tr>
              <td><%= count.id %></td>
              <td><%= count.result %> PF</td>
              <td><%= count.style %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
</div>

<%= link_to 'Edit', edit_project_path(@project) %>

<%= link_to 'Back', projects_path %>
