<%= form_for(data_function) do |f| %>
  <% if data_function.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(data_function.errors.count, "error") %> prohibited this data_function from being saved:</h2>

      <ul>
      <% data_function.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :requirement_name %>
    <%= f.text_field :requirement_name %>
  </div>

  <div class="field">
    <%= f.label :function %>
    <%= f.text_field :function %>
  </div>

  <div class="field">
    <%= f.label :kind %>
    <%= f.text_field :kind %>
  </div>

  <div class="field">
    <%= f.label :qt_rlr %>
    <%= f.number_field :qt_rlr %>
  </div>

  <div class="field">
    <%= f.label :desc_rlr %>
    <%= f.text_area :desc_rlr %>
  </div>

  <div class="field">
    <%= f.label :qt_der %>
    <%= f.number_field :qt_der %>
  </div>

  <div class="field">
    <%= f.label :desc_der %>
    <%= f.text_area :desc_der %>
  </div>

  <div class="field">
    <%= f.label :obs %>
    <%= f.text_area :obs %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
