<p id="notice"><%= notice %></p>

<h1>Data Functions</h1>

<table>
  <thead>
    <tr>
      <th>Requirement name</th>
      <th>Function</th>
      <th>Kind</th>
      <th>Qt rlr</th>
      <th>Desc rlr</th>
      <th>Qt der</th>
      <th>Desc der</th>
      <th>Obs</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @data_functions.each do |data_function| %>
      <tr>
        <td><%= data_function.requirement_name %></td>
        <td><%= data_function.function %></td>
        <td><%= data_function.kind %></td>
        <td><%= data_function.qt_rlr %></td>
        <td><%= data_function.desc_rlr %></td>
        <td><%= data_function.qt_der %></td>
        <td><%= data_function.desc_der %></td>
        <td><%= data_function.obs %></td>
        <td><%= link_to 'Show', data_function %></td>
        <td><%= link_to 'Edit', edit_data_function_path(data_function) %></td>
        <td><%= link_to 'Destroy', data_function, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Data Function', new_data_function_path %>
