<p id="notice"><%= notice %></p>

<p>
  <strong>Requirement name:</strong>
  <%= @data_function.requirement_name %>
</p>

<p>
  <strong>Function:</strong>
  <%= @data_function.function %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @data_function.kind %>
</p>

<p>
  <strong>Qt rlr:</strong>
  <%= @data_function.qt_rlr %>
</p>

<p>
  <strong>Desc rlr:</strong>
  <%= @data_function.desc_rlr %>
</p>

<p>
  <strong>Qt der:</strong>
  <%= @data_function.qt_der %>
</p>

<p>
  <strong>Desc der:</strong>
  <%= @data_function.desc_der %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @data_function.obs %>
</p>

<%= link_to 'Edit', edit_data_function_path(@data_function) %> |
<%= link_to 'Back', data_functions_path %>
