<div class="col-md-4 col-md-offset-4">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="login-panel panel panel-green">
    <div class="panel-heading">
      <h3 class="panel-title">Function Points Web</h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <%= f.email_field :email, class: 'form-control', autofocus: true, placeholder: 'E-mail' %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, class: 'form-control', autocomplete: "off", placeholder: 'Senha'  %>
      </div>
      <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
      <% end -%>
      <div class="actions">
        <%= f.submit "Entrar", class: 'btn btn-block btn-outline btn-success' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
