<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#info" data-toggle="tab" aria-expanded="true">Informações</a>
          </li>
          <li class="">
            <a href="#func_data" data-toggle="tab" aria-expanded="false">Funções de Dados</a>
          </li>
          <li class="">
            <a href="#func_tran" data-toggle="tab" aria-expanded="false">Funções de Transação</a>
          </li>
          <li class="">
            <a href="#resumo" data-toggle="tab" aria-expanded="false">Resumo</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade active in" id="info">
            <p>
              <strong>Data da Contagem:</strong>
              <%= @count.count_date %>
            </p>
            <p>
              <strong>Resultado:</strong>
              <%= @count.result %>
            </p>
          </div>
          <div class="tab-pane fade" id="func_data">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="table-resposive">
                  <table class="table table-striped table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>Nome Requisito</th>
                        <th>Nome Função</th>
                        <th>Tipo</th>
                        <th>Qt. RLR</th>
                        <th>Desc. RLR</th>
                        <th>Qt. DER</th>
                        <th>Desc. DER</th>
                        <th>Observações</th>
                      </tr>
                    </thead>

                    <tbody>
                      <% @data_functions.each do |data_function| %>
                      <tr>
                        <td><%= data_function.requirement_name %></td>
                        <td><%= data_function.function %>
                        </td>
                        <td><%= data_function.kind %></td>
                        <td><%= data_function.qt_rlr %></td>
                        <td><%= data_function.desc_rlr %></td>
                        <td><%= data_function.qt_der %></td>
                        <td><%= data_function.desc_der %></td>
                        <td><%= data_function.obs %></td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="func_tran">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="table-resposive">
                  <table class="table table-striped table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>Nome Requisito</th>
                        <th>Nome Função</th>
                        <th>Tipo</th>
                        <th>Qt. RLR</th>
                        <th>Desc. RLR</th>
                        <th>Qt. DER</th>
                        <th>Desc. DER</th>
                        <th>Observações</th>
                      </tr>
                    </thead>

                    <tbody>
                      <% @transaction_functions.each do |transaction_function| %>
                      <tr>
                        <td><%= transaction_function.requirement_name %></td>
                        <td><%= transaction_function.function %>
                        </td>
                        <td><%= transaction_function.kind %></td>
                        <td><%= transaction_function.qt_alr %></td>
                        <td><%= transaction_function.desc_alr %></td>
                        <td><%= transaction_function.qt_der %></td>
                        <td><%= transaction_function.desc_der %></td>
                        <td><%= transaction_function.obs %></td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="resumo">
            oieiuoeiou 3
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
