<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @organization.adress %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @organization.phone %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
