<!DOCTYPE html>
<html>
  <head>
    <title>FunctionPointsWeb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper" class="toggled">
      <% if user_signed_in? %>
        <%= render 'layouts/header' %>
        <div id="page-wrapper">
      <% end %>
        <div style="padding:1px;">
          <% flash.each do |name, msg| %>
          <% case name %>
          <% when "alert" %>
          <%= content_tag(:p, msg, class: "alert alert-danger") %>
          <% when "notice" %>
          <%= content_tag(:p, msg, class: "alert alert-info") %>
          <% end %>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
